

<h1>Welcome to my app!</h1>
<p>sign up <a href="#">here</a></p>
<p>If you want to go to fb click <%= link_to "here", "http://facebook.com"%></a></p>
<p>if you want to go to google , click <%= link_to "this", "http://google.com"%></p>


